section.form
    .form__container.container
        .form__wrapper(style="background: url(\"img/form.jpg\") no-repeat center;")
            .form__data-wrapper
                h2.form__title._anim-items._anim-no-hide Остались вопросы?
                p.form__descr._anim-items._anim-no-hide Свяжитесь с нами
                form.form__data
                    input(type="email" placeholder="Ваш e-mail").form__input._anim-items._anim-no-hide
                    input(type="text" placeholder="Имя").form__input._anim-items._anim-no-hide
                    input(type="tel" placeholder="Телефон").form__input._anim-items._anim-no-hide
                    button(type="submit").form__data-btn._anim-items._anim-no-hide Отправить заявку
