section.sales
    .sales__container.container
        h2.sales__title.title.title_section._anim-items._anim-no-hide Вы продаете оборудование?
        p.sales__descr(style="color: #fff; text-align: center;") Заполните форму, мы обязательно поможем!
        form.callback__form._anim-items._anim-no-hide
            .callback__group
                input.callback__input(type="email" placeholder="Ваш e-mail")
                input.callback__input(type="text" placeholder="Имя")
                input.callback__input(type="tel" placeholder="Телефон")
            button(type="submit").btn.callback__btn.btn_form Оставить заявку
