.documents {
    margin-bottom: 130px;
}

.documents__list {
    @include list-reset;
}

.documents__item {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 64px;
    @include md-block {
        padding-left: 130px;
    }
}

.documents__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #F8F9FC;
    border-radius: 50%;
    right: 0;
    z-index: -1;
    @include md-block {
        left: 0;
        right: unset;
    }

    svg {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%, -50%);
        background: #F8F9FC;
        fill: #015293;
    }
}

.documents__title {
    margin: 0 0 20px;

    a {

        color: #015293;
        font-size: rem-calc(22);
        line-height: rem-calc(46);
        border-bottom: 1px dashed #015293;
    }

    width: 75%;
    @include md-block {
        width: 100%;
    }
}

.documents__descr {
    color: $c-black-100;
    font-family: $font-alt;
    font-size: rem-calc(16);
    line-height: rem-calc(32);
    margin: 0 0 32px;
}

.documents__attention {
    display: flex;
    flex-wrap: wrap;
}

.documents__attention-group {
    @include list-reset;
    max-width: 450px;
    @include md-block {
        &:first-child {
            margin-right: 94px;
        }
    }
}

.documents__attention-title {
    font-size: rem-calc(20);
    line-height: rem-calc(32);
    font-weight: 700;
    font-family: $font-alt;
    margin: 0 0 12px;
}

.documents__item-item {
    font-size: rem-calc(16);
    line-height: rem-calc(32);
    color: #333;
    position: relative;
    font-family: Lato, Arial, sans-serif;
    padding-left: 16px;
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: #FFA043;
        left: 0;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
    }
}
