.advantages {
    padding-bottom: 160px;
    overflow: hidden;

    background:  url("../img/big-gear.svg") no-repeat right bottom #074C84;
    @include md-block {
        background: #074C84 url("../img/big-gear.svg") no-repeat 100% 111s%;
    }
}

.advantages__article {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    @include size(12);
}

.advantages__title {
    margin: 0 0 50px;
    color: #fff;
    font-size: rem-calc(30);
    line-height: rem-calc(46);
    font-weight: 700;
    @include size(12);
    @include md-block {
        @include size(6);
    }
}

.advantages__descr {
    margin: 0;
    color: #d0d7ed;
    font-family: $font-alt;
    font-size: rem-calc(18);
    line-height: rem-calc(32);
    @include size(12);
    @include md-block {
        width: 500px;
        @include size(6);
    }
}

.advantages__services {
    padding-top: 100px;
    position: relative;
}

.advantages__subtitle {
    color: $c-white-0;
    font-size: rem-calc(30);
    line-height: rem-calc(36);
    font-weight: 600;
    margin: 0 0 69px;
}

.advantages__list {
    @include list-reset;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 768px) {
        justify-content: space-between;
    }
}

.advantage__item {
    font-family: $font-alt;
    font-size: rem-calc(18);
    line-height: rem-calc(27);
    font-weight: 600;
    color: #d0d7ed;
    z-index: 1;
    position: relative;
    padding-left: calc(26px + 24px);
    @include size(12);
    margin-bottom: 40px;
    svg {
        position: absolute;
        left: 0;
        top: 26px;
        display: block;
        transform: translateY(-85%);
        fill: $c-green-0;
    }
    @include md-block {
        @include size(5.5);
    }
}

.advantages__image {
    position: absolute;
    transform: translateX(102%) translateY(-47%);
    z-index: 0;
    @include md-block {
        transform: translateX(202%) translateY(-47%);
    }
}
