section.request
    .request__container.container
        h2.request__title Ваша организация не соответствует требованиям, <br> которые предъявляют ЛК или Вы не можете собрать пакет документов?
        p.request__descr Обратитесь к нам, мы обязательно поможем!
        form.request__form
            input(type="email" placeholder="Ваш e-mail").request__input
            button(type="submit").request__btn Оставить заявку
