section.request(style="background-image: url('img/hero-2.jpg') ")
    .request__container.container
        h2.request__title._anim-items._anim-no-hide Ваша организация не соответствует требованиям, <br> которые предъявляют ЛК или Вы не можете собрать пакет документов?
        p.request__descr._anim-items._anim-no-hide Обратитесь к нам, мы обязательно поможем!
        form.request__form
            input(type="email" placeholder="Ваш e-mail").request__input._anim-items._anim-no-hide
            button(type="submit").request__btn._anim-items._anim-no-hide Оставить заявку
