section.features
    h2.features__title.title.title_section Помогаем оформить в лизинг <br> даже нестандартное оборудование
    .features__container.container
        .features__intro._anim-items
            .features__intro-wrap
                img(src='img/features.jpg' alt='Услуги для клиента бесплатно')
                .features__intro-text
                    h3.features__intro-title  Услуги для клиента БЕСПЛАТНО
                    p.features__intro-descr Полная консультация, расчет и сбор документов, другие сопровождающие услуги оказываем клиенту бесплатно. <br> За работу нам платят лизинговые компании
        ul.features__icons
            li.features__icon
                svg()
                    use(href="")
            li.features__icon
                svg()
                    use(href="")
            li.features__icon
                svg()
                    use(href="")
        ul.features__list
            +features('Лучшие предложения партнеров', 'Не каждая лизинговая компания оформляет лизинг промоборудования. Мы не только окажем помощь в получении лизинга, но и подберем для Вас самое выгодное предложение, с минимальными первоначальными взносами')
            +features('Большой выбор оборудования', 'За счет налаженных контактов с партнерами ускоряем процесс выхода на сделку. Поиск, анализ и предоставление лучших предложений клиенту занимает у нас не дольше 3 дней.')
            +features('Скидки на оборудование', 'Не только помогаем подобрать лучшее предложение, но и оказываем полное содействие в сборе и оформлении пакета документов, что гарантирует отсутствие задержек процесса оформления сделки')
            +features('Оперативность', 'Помогаем оформить промышленное оборудование в лизинг не только крупному, но и среднему, и малому бизнесу. Для привлечения финансирования не требуется дополнительного залога')
            +features('Помощь в оформлении', 'Полная консультация, расчет и сбор документов, другие сопровождающие услуги оказываем клиенту бесплатно. За работу нам платят лизинговые компании')
            +features('Доступность лизинга для всех', 'Помогаем оформить промышленное оборудование в лизинг не только крупному, но и среднему, и малому бизнесу. Для привлечения финансирования не требуется дополнительного залога')
            +features('Услуги для клиента бесплатно', 'Помогаем получить лизинг клиентам, которые столкнулись с трудностями из-за несоответствия требованиям, которые предъявляют лизинговые компании.')
            +features('Индивидуальный подход', 'Мы проводим полный анализ предложений наших партнеров и подбираем условия под требования и нужды конкретного клиента')
            +features('Решение проблем с ограничениями', 'Мы работаем без скрытых комиссий и платежей. Все честно и открыто')
            +features('Поддержка', 'Наши менеджеры всегда готовы быстро предоставить информативные ответы на вопросы клиента')
            +features('Прозрачные условия договора', 'У нас вы сможете выбрать оборудование для различных сфер производства. Также есть возможность оформить в лизинг оборудование с нестандартной конструкцией')
            +features('Территориальная доступность', 'Мы сотрудничаем с лизинговыми компаниями по всей территории РФ')

