section.callback(style="background-image: url('img/hero-2.jpg') ")
    .callback__container.container
        h2.callback__title.title.title_hero._anim-items._anim-no-hide Хотите оформить оборудование в лизинг, но не знаете с чего начать?
        p.callback__descr._anim-items._anim-no-hide Оставьте нам заявку, мы обязательно поможем!
        form.callback__form._anim-items._anim-no-hide
            .callback__group
                input.callback__input(type="email" placeholder="Ваш e-mail")
                input.callback__input(type="text" placeholder="Имя")
                input.callback__input(type="tel" placeholder="Телефон")
            button(type="submit").btn.callback__btn.btn_form Оставить заявку
