section.faq
    h2.faq__title.title.title_section Часто задаваемые вопросы
    .faq__container.container
        .faq__accordion.accordion._anim-items._anim-no-hide
            .accordion-item
                button#accordion-button-1(aria-expanded='false').accordion-button
                    span.accordion-title В чем суть лизинга оборудования?
                    span.icon(aria-hidden='true')
                        svg(width='19' height='11')
                            use(href="#chevron")
                .accordion-content
                    p
                        | Лизинг — финансовый инструмент, суть которого заключается в следующем: лизинговая компания приобретает у поставщика необходимое вам (юридическим лицам и индивидуальным предпринимателям) оборудование и сдает его вам с фиксированной помесячной платой в аренду, а в конце срока лизинга вы получаете это оборудование в собственность.
            .accordion-item
                button#accordion-button-2(aria-expanded='false').accordion-button
                    span.accordion-title Что мы предлагаем?
                    span.icon(aria-hidden='true')
                        svg(width='19' height='11')
                            use(href="#chevron")
                .accordion-content
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
            .accordion-item
                button#accordion-button-3(aria-expanded='false').accordion-button
                    span.accordion-title Как получить предложения по лизингу?
                    span.icon(aria-hidden='true')
                        svg(width='19' height='11')
                            use(href="#chevron")
                .accordion-content
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
            .accordion-item
                button#accordion-button-4(aria-expanded='false').accordion-button
                    span.accordion-title Какое оборудование можно взять в лизинг?
                    span.icon(aria-hidden='true')
                        svg(width='19' height='11')
                            use(href="#chevron")
                .accordion-content
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
            .accordion-item
                button#accordion-button-5(aria-expanded='false').accordion-button
                    span.accordion-title Каковы отличия лизинга от кредита?
                    span.icon(aria-hidden='true')
                        svg(width='19' height='11')
                            use(href="#chevron")
                .accordion-content
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.

