mixin features(title, descr)

    li.features__item
        svg(width='24' height='24')
            use(href="#checked-green")
        h4.features__item-title
            | #{title}
        p.features__descr
            | #{descr}
