

section.advantages
    .advantages__container.container
        .advantages__wrapper
            article.advantages__article
                h2.advantages__title._anim-items._anim-no-hide Преимущества оформления оборудования в лизинг
                p.advantages__descr._anim-items._anim-no-hide При реорганизации или расширении производства приобретение оборудования в лизинг является выгодным решением и упрощает контроль финансовых потоков предприятия. Внушительный опыт работы с юридическими лицами позволяет нам находить максимально удобные решения для каждого клиента. Чтобы получить оборудование в лизинг с возможностью выкупа, Вы можете подать онлайн-заявку или позвонить нам.
            .advantages__services
                h3.advantages__subtitle._anim-items._anim-no-hide Основные выгоды оформления оборудования в лизинг:
                ul.advantages__list
                    +advantages('снижение суммы расходов до 40% за счет налоговой оптимизации;')
                    +advantages('отсутствие обременения баланса компании; приобретение именно нового оборудования для развития бизнеса;')
                    +advantages('уменьшение налога на прибыль; возможность оплачивать оборудование частями за счет прибыли от его эксплуатации, отсутствие необходимости выводить из оборота все 100% стоимости покупки;')
                    +advantages('экономия на налоговых платежах за счет амортизации; невозможность наложить взыскание третьими лицами на предмет лизинга, поскольку право собственности принадлежит лизингодателю (Вы можете продолжить работу на оборудовании, чтобы ни случилось).')
