.features {
    padding-bottom: 44px;
}

.features__title {
    margin-bottom: 48px;
}

.features__intro-wrap {
    margin-bottom: 70px;
    position: relative;
    background: #F8F9FC;
    border-radius: 5px;
    img {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.features__intro-text {
    z-index: 1;
    background: url("../img/features.png") no-repeat center;
    background-size: cover;
    text-align: center;
    @media (min-width: 768px) {
        text-align: unset;
        position: absolute;
        content: '';
        top: 40px;
        right: 0;
        background: unset;
    }
}

.features__intro-title {
    color: #1474C0;
    font-size: rem-calc(24);
    line-height: rem-calc(40);
    font-family: $font;
    font-weight: 600;
    margin: 0;
}

.features__intro-descr {
    font-family: $font-alt;
    font-size: rem-calc(18);
    line-height: rem-calc(28);
    color: #333;
    max-width: 530px;
    margin: 0 auto;
    @media (min-width: 768px) {
        margin: 0;
    }
}

.features__icons {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.features__icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 260px;
    text-align: center;
}

.features__icons-descr {
    color: #2F3A53;
    font-family: $font-alt;
    font-weight: 700;
    font-size: rem-calc(18);
    line-height: rem-calc(26);
    margin: 26px 0 0;
}

.features__list {
    @include row-flex;
    @include list-reset;
    flex-direction: column;
    @include md-block {
        flex-direction: row;
        padding-left: 9px;
    }
}

.features__item {
    position: relative;
    @include size(12);
    padding-left: 40px;
    margin-bottom: 26px;

    svg {
        position: absolute;
        top: 18px;
        left: 0;
        display: block;
        fill: $c-green-0;
    }

    @include md-block {
        margin-bottom: 29.5px;
        @include size(6);
        margin-right: 60px;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

.features__item-title {
    font-family: $font-alt;
    font-weight: bold;
    font-size: rem-calc(22);
    line-height: rem-calc(28);
    color: $c-black-0;
    margin: 0;
    @include md-block {
        line-height: rem-calc(58);
    }
}

.features__descr {
    font-family: $font-alt;
    font-size: rem-calc(16);
    line-height: rem-calc(26);
    margin: 0;
}
