section.conditions
    h2.conditions__title.title.title_section Условия лизинга оборудования
    .conditions__container.container
        dl.conditions__list
            dt.conditions__termin Для кого
            dd.conditions__descr ИП, ООО
        dl.conditions__list
            dt.conditions__termin Предмет лизинга
            dd.conditions__descr Промышленное оборудование
        dl.conditions__list
            dt.conditions__termin Срок оформления
            dd.conditions__descr От 12 месяцев до 10 лет
        dl.conditions__list
            dt.conditions__termin Авансовый платеж
            dd.conditions__descr от 10%
        dl.conditions__list
            dt.conditions__termin Процент удорожания в год
            dd.conditions__descr От 3,7% до 4,5%
        dl.conditions__list
            dt.conditions__termin Возможность досрочного выкупа
            dd.conditions__descr Есть
        dl.conditions__list
            dt.conditions__termin Сумма финансирования
            dd.conditions__descr Индивидуально
        dl.conditions__list
            dt.conditions__termin Пакет документов
            dd.conditions__descr Стандартный
