section.appertain
    h2.appertain__title.title.title_section Для кого
    .appertain__container.container
        ul.appertain__list
            li.appertain__item._anim-items._anim-no-hide
                img(src='img/features-1.jpg' width='200' height='200' alt='Стартапы и микробизнес').appertain__item-image
                p.appertain__descr Стартапы и <br> микробизнес
            li.appertain__item._anim-items._anim-no-hide
                img(src='img/features-2.jpg' width='200' height='200' alt='Индивидуальные предпринематели').appertain__item-image
                p.appertain__descr Индивидуальные <br> предпринематели
            li.appertain__item._anim-items._anim-no-hide
                img(src='img/features-3.jpg' width='200' height='200' alt='Средний и крупный бизнес').appertain__item-image
                p.appertain__descr Средний и крупный <br> бизнес
