section.receive
    h2.receive__title.title.title_section Как получить
    .receive__container.container
        ul.receive__timeline.timeline._anim-items._anim-no-hide
            li.timeline__item
                svg(width='94' height='88')
                    use(href="#callback-1")
                p.timeline__descr Выберите оборудование на нашем сайте
            li.timeline__item
                svg(width='88' height='88')
                    use(href="#callback-2")
                p.timeline__descr Заполните форму и отправьте заявку
            li.timeline__item
                svg(width='79' height='79')
                    use(href="#callback-3")
                p.timeline__descr Додитесь звонка нашего менеджера
            li.timeline__item
                svg(width='87' height='87')
                    use(href="#callback-4")
                p.timeline__descr Получите лучшие предложения по лизингу
