section.documents
    .documents__container.container
        ul.documents__list
            li.documents__item._anim-items._anim-no-hide
                span.documents__icon
                    svg(width='36' height='50')
                        use(href='#docs-1')
                h4.documents__title
                    a(href="#") Требования к лизингополучателям
                p.documents__descr
                    | В разных компаниях требования к клиентам могут отличаться. <br> Но существуют базовые критерии, которым должны соответствовать получатели.
                .documents__attention
                    .documents__attention-group
                        h4.documents__attention-title Если клиент — организация:
                        ul.documents__list
                            li.documents__item-item Описание цели финансирования
                            li.documents__item-item Бухгалтерский баланс за текущий и предыдущий годы
                            li.documents__item-item Уставные документы компании
                    .documents__attention-group
                        h4.documents__attention-title Если клиент — организация:
                        ul.documents__list
                            li.documents__item-item Платежеспособность
                            li.documents__item-item Отсутствие негативной кредитной истории
                            li.documents__item-item Возраст — от 21 года
                            li.documents__item-item Гражданство РФ
                            li.documents__item-item Наличие постоянного места работы и дохода
                            li.documents__item-item Положительная кредитная история
            li.documents__item._anim-items._anim-no-hide
                span.documents__icon
                    svg(width='49' height='45')
                        use(href='#docs-2')
                h4.documents__title
                    a(href="#") Документы для подачи заявки
                p.documents__descr
                    | В разных компаниях требования к клиентам могут отличаться. <br> Но существуют базовые критерии, которым должны соответствовать получатели.
                .documents__attention
                    .documents__attention-group
                        h4.documents__attention-title Организация для оформления сделки должна предоставить:
                        ul.documents__list
                            li.documents__item-item Заполненную анкету
                            li.documents__item-item Ксерокопию Устава вашей компании
                            li.documents__item-item Приказ о назначении на должность руководителя и гл. бухгалтера
                            li.documents__item-item ИНН
                            li.documents__item-item Финансовую отчетность за предыдущий год
                            li.documents__item-item Ксерокопию паспорта руководителя
                            li.documents__item-item Бухгалтерский баланс
                            li.documents__item-item Выписку по расчетному счету
                    .documents__attention-group
                        h4.documents__attention-title Частные лица предоставляют:
                        ul.documents__list
                            li.documents__item-item Паспорт гражданина РФ с отметкой о регистрации
                            li.documents__item-item СНИЛС
                            li.documents__item-item Ксерокопию трудовой книжки
                            li.documents__item-item Справку о доходах по форме 2-НДФЛ или по форме компании
                            li.documents__item-item Анкету
