section.documents
    .documents__container.container
        ul.documents__list
            li.documents__item._anim-items._anim-no-hide
                span.documents__icon
                    svg(width='36' height='50')
                        use(href='#docs-1')
                h4.documents__title
                    a(href="#") Требования к лизингополучателям
                p.documents__descr
                    | В разных компаниях требования к клиентам могут отличаться. <br> Но существуют базовые критерии, которым должны соответствовать получатели.
            li.documents__item._anim-items._anim-no-hide
                span.documents__icon
                    svg(width='49' height='45')
                        use(href='#docs-2')
                h4.documents__title
                    a(href="#") Документы для подачи заявки
                p.documents__descr
                    | В разных компаниях требования к клиентам могут отличаться. <br> Но существуют базовые критерии, которым должны соответствовать получатели.
