section.stuff
    h2.stuff__title.title.title_section Виды оборудования
    .stuff__container.container
        ul.stuff__list
            +stuff('Автомобилестроение')
            +stuff('Переработка отходов и очистные сооружения')
            +stuff('Биотопливо и альтернативная энергетика')
            +stuff('Переработка сельхозпродукции')
            +stuff('Деревообрабатывающее оборудование')
            +stuff('Пищевое оборудование')
            +stuff('Добывающее и промысловое оборудование')
            +stuff('Полиграфическое оборудование / Производство бумаги и картона')
            +stuff('Измерительные приборы')
            +stuff('Промышленное холодильное оборудование')
            +stuff('Медицинское оборудование')
            +stuff('Сельское хозяйство')
            +stuff('Металлообрабатывающее оборудование')
            +stuff('Складское оборудование')
            +stuff('Оборудование бытового обслуживания')
            +stuff('Спецтехника')
            +stuff('Оборудование для автосервиса')
            +stuff('Строительное оборудование')
            +stuff('Оборудование для ЖКХ')
            +stuff('Телекомуникационное оборудование')
            +stuff('Оборудование для производства напитков и табака')
            +stuff('Торговое оборудование')
            +stuff('Оборудование для производства строительных материалов')
            +stuff('Фармацевтика и химическая промышленность')
            +stuff('Оборудование для развлекательных комплексов')
            +stuff('Фасовочно-упаковочное оборудование')
            +stuff('Оборудование для легкой промышленности')
            +stuff('Электрооборудование')
