div.debug-grid
    div
        div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
header.header(style="background-color: plum; background-image: url(img/hero.jpg); background-repeat: no-repeat; background-position: center;")
    .header__container.container
        .header__wrapper
            .header__inner
                h1.header__title.title Лизинг промышленного оборудования
                p.header__desc Расширяйте границы бизнеса уже сегодня - оплачивайте завтра
                .header__links
                    a.header__link.btn.btn_secondary(href="#request") Оформить заявку
                    a.header__link.btn.btn_primary(href="#question") Задать вопрос
