header.header(style="background-color: plum; background-image: url(img/hero.jpg); background-repeat: no-repeat; background-position: center;")
    .header__container.container
        .header__wrapper
            h1.header__title.title._anim-items._anim-no-hide Лизинг промышленного оборудования
            p.header__desc._anim-items._anim-no-hide Расширяйте границы бизнеса уже сегодня - оплачивайте завтра
            .header__links._anim-items._anim-no-hide
                a.header__link.btn.btn_secondary(href="#request") Оформить заявку
                a.header__link.btn.btn_primary(href="#question") Задать вопрос
