section.question#question
    h2.question__title.title.title_section._anim-items._anim-no-hide Остались вопросы?
    .qustion__container.container
        form.question__form
            input(type="email" placeholder="Ваш e-mail").question__input._anim-items._anim-no-hide
            button(type="submit").question__btn._anim-items._anim-no-hide Задать вопрос
