section.question#question
    h2.question__title.title.title_section Остались вопросы?
    .qustion__container.container
        form.question__form
            input(type="email" placeholder="Ваш e-mail").question__input
            button(type="submit").question__btn Задать вопрос
