//vendor (libs / layout)

@import "vendor/normalize.scss";
@import "vendor/smart-grid.scss";

//scaffolding (base style for base elements)

@import "general/fonts";
@import "general/variables";
@import "general/mixins";
@import "general/rem-calc";
@import "general/scaffolding";

//blocks (styles for blocks)
@import "blocks/header/header";


@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;

    > div{
        height: inherit;
        @include wrapper();

        > div{
            height: inherit;
            @include row-flex();

            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

.debug-grid{
    @include debug(rgba(255, 0, 0, 0.1), 1px solid #ff0000);
}
